<h1><%= @post.title %></h1>

<h2><%= @post.post_body %></h2>


<div id="vote-post">
  <form id="upvote-post" action="/categories/<%= @category.id %>/posts/<%= @post.id %>/votes" method="POST">
    <input type="hidden" name="vote[votable_id]" value="<%= @post.id %>"><br>
    <input type="hidden" name="vote[votable_type]" value="Post"><br>
    <input type="hidden" name="vote[voter_id]" value="<%= current_user.id unless !logged_in? %>"><br>
    <input type="hidden" name="vote[upvote?]" value=true><br>
    <input type="submit" value="Up"><br>
  </form>
    <h3><%= @post.votes.where(upvote?: true).count - @post.votes.where(upvote?: false).count %></h3>
  <form id="downvote-post" action="/categories/<%= @category.id %>/posts/<%= @post.id %>/votes" method="POST">
    <input type="hidden" name="vote[votable_id]" value="<%= @post.id %>"><br>
    <input type="hidden" name="vote[votable_type]" value="Post"><br>
    <input type="hidden" name="vote[voter_id]" value="<%= current_user.id unless !logged_in? %>"><br>
    <input type="hidden" name="vote[upvote?]" value=false><br>
    <input type="submit" value="Down"><br>
    </form>
</div>

<% @post.comments.each do |comment| %>
<%= comment.comment_body %><br>

  <form id="upvote-comment" action="/categories/<%= @category.id %>/posts/<%= @post.id %>/comments/<%= comment.id %>/votes" method="POST">
    <input type="hidden" name="vote[votable_id]" value="<%= comment.id %>"><br>
    <input type="hidden" name="vote[votable_type]" value="Comment"><br>
    <input type="hidden" name="vote[voter_id]" value="<%= current_user.id unless !logged_in? %>"><br>
    <input type="hidden" name="vote[upvote?]" value=true><br>
    <input type="submit" value="Up"><br>
  </form>
  <h4><%= comment.votes.where(upvote?: true).count - comment.votes.where(upvote?: false).count %></h4>
  <form id="downvote-comment" action="/categories/<%= @category.id %>/posts/<%= @post.id %>/comments/<%= comment.id %>/votes" method="POST">
    <input type="hidden" name="vote[votable_id]" value="<%= comment.id %>"><br>
    <input type="hidden" name="vote[votable_type]" value="Comment"><br>
    <input type="hidden" name="vote[voter_id]" value="<%= current_user.id unless !logged_in? %>"><br>
    <input type="hidden" name="vote[upvote?]" value=false><br>
    <input type="submit" value="Down"><br>
  </form>

<% end %>
