<div class="container">
  <div class="row">
    <div class="col-lg-12"><h1><%= @post.title %></h1></div>
  </div>
  <div class="row">
    <div class="col-md-1" id="vote-post">
      <form id="upvote-post" action="/categories/<%= @category.id %>/posts/<%= @post.id %>/votes" method="POST">
        <center><button type="submit" class="btn btn-default"> <span class="glyphicon glyphicon-triangle-top"></span></button></center>
        <input type="hidden" name="vote[votable_id]" value="<%= @post.id %>">
        <input type="hidden" name="vote[votable_type]" value="Post">
        <input type="hidden" name="vote[voter_id]" value="<%= current_user.id unless !logged_in? %>">
        <input type="hidden" name="vote[upvote?]" value=true>
      </form>

      <h4 id="vote-count-post"><%= @post.votes.where(upvote?: true).count - @post.votes.where(upvote?: false).count %></h4>

      <form id="downvote-post" action="/categories/<%= @category.id %>/posts/<%= @post.id %>/votes" method="POST">
        <center><button type="submit" class="btn btn-default"> <span class="glyphicon glyphicon-triangle-bottom"></span></button></center>
        <input type="hidden" name="vote[votable_id]" value="<%= @post.id %>">
        <input type="hidden" name="vote[votable_type]" value="Post">
        <input type="hidden" name="vote[voter_id]" value="<%= current_user.id unless !logged_in? %>">
        <input type="hidden" name="vote[upvote?]" value=false>
      </form>
    </div>
    <div class="col-md-11"><%= @post.post_body %></div>
  </div>

  <div class="row">
    <div class="col-md-9">&nbsp;</div>
    <div class="col-md-3">asked by <%= @post.author.username %></div>
  </div>

<div class="row">
  <div class="col-xs-12"><hr></div>
</div>






<div id="vote-comment">

<% @post.comments.each do |comment| %>
<p><%= comment.comment_body %></p><br>

  <form id="upvote-comment" action="/categories/<%= @category.id %>/posts/<%= @post.id %>/comments/<%= comment.id %>/votes" method="POST">
    <input type="hidden" name="vote[votable_id]" value="<%= comment.id %>"><br>
    <input type="hidden" name="vote[votable_type]" value="Comment"><br>
    <input type="hidden" name="vote[voter_id]" value="<%= current_user.id unless !logged_in? %>"><br>
    <input type="hidden" name="vote[upvote?]" value=true><br>
    <input type="submit" value="Up"><br>
  </form>
  <h4><%= comment.votes.where(upvote?: true).count - comment.votes.where(upvote?: false).count %></h4>
  <form id="downvote-comment" action="/categories/<%= @category.id %>/posts/<%= @post.id %>/comments/<%= comment.id %>/votes" method="POST">
    <input type="hidden" name="vote[votable_id]" value="<%= comment.id %>"><br>
    <input type="hidden" name="vote[votable_type]" value="Comment"><br>
    <input type="hidden" name="vote[voter_id]" value="<%= current_user.id unless !logged_in? %>"><br>
    <input type="hidden" name="vote[upvote?]" value=false><br>
    <input type="submit" value="Down"><br>
  </form>

<% end %>

</div>
</div>
