<div class="container">
  <div class="dropdown">
    <button id="dLabel" class="btn btn-default" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%= @current_lang %>
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dLabel" id="dropdown-lang">
      <li><a href="all">All</a></li>
      <li><a href="1">AJAX</a></li>
      <li><a href="2">Angular</a></li>
      <li><a href="3">CSS</a></li>
      <li><a href="4">C++</a></li>
      <li><a href="5">C#</a></li>
      <li><a href="6">HTML</a></li>
      <li><a href="7">Java</a></li>
      <li><a href="8">Javascript</a></li>
      <li><a href="9">Node.js</a></li>
      <li><a href="10">PHP</a></li>
      <li><a href="11">Python</a></li>
      <li><a href="12">React</a></li>
      <li><a href="13">Ruby</a></li>
      <li><a href="14">Ruby on Rails</a></li>
      <li><a href="15">SQL</a></li>
      <li><a href="16">Swift</a></li>
    </ul>
    <div class="filters">
      <a href="">trending</a> | <a href="">new</a> | <a href="">week</a>
    </div>
  </div>

  <div class="row">&nbsp;</div>

<div id="questions-homepage">
    <% @posts.each do |post| %>
    <div class="row questions-home">
      <div class="col-md-3">
        <div class="votes-home">
          <%= post.votes.count %>
          <% if post.votes.count == 1%>
            <span class="votes-home-text">vote</span>
          <% else %>
          <span class="votes-home-text">votes</span>
          <% end %>
        </div>
        |
        <div class="answers-home">
          <%= post.comments.count %>
          <span class="answers-home-text">answers</span>
        </div>
         |
         <div class="answers-home">
           <%= post.post_views %>
           <% if post.post_views == 1 %>
            <span class="answers-home-text">view</span>
           <% else %>
            <span class="answers-home-text">views</span>
           <% end %>
         </div>
      </div>
      <div class="col-md-9 questions-title">
        <a href="/categories/<%= post.category_id %>/posts/<%= post.id %>"><%= post.title %></a>
        <span class="post-date-home">posted: 2 days ago</span>
        |
        <span class="author-home"><a href="/profile/<%= post.author.id %>">author: <%= post.author.username %></a></span>
      </div>
    </div>
    <% end %>
  </div>
</div>
